aiohttp==3.7.4.post0
async-generator==1.10
async-timeout==3.0.1
discord.py @ git+https://github.com/Rapptz/discord.py@723584ca19e34604798043d6fa265785af794ebd
python-dotenv==0.20.0
pymongo[srv]
beautifulsoup4==4.11.1
requests==2.28.1